<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

        <script defer
            type="text/javascript"
            src="{{ url_for('static', filename='js/languages.js') }}"
        ></script>

        <title>{% block title %}Home{% endblock %}</title>
    </head>
    <body class ="bg-light">
        <nav class="navbar navbar-expand-lg m-2">
          <div class="container-fluid">
            <a href="/">
              <img
                    src="{{ url_for('static', filename='icons/TTT_icon.jpg') }}"
                    class="img-thumbnail me-2 shadow-sm"
                    style="height: 60px;"
                    alt="..."
              />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        <a class="nav-item nav-link nav-link-text mx-1" id="index" href="/home">Home page</a>
                        <a class="nav-item nav-link nav-link-text mx-1" id="notes" href="/notes">Notes</a>
                        <!--
                        <a class="nav-item nav-link nav-link-text mx-1" id="quiz_me" href="/quiz_me">QuizMe</a>
                        -->
                        <a class="nav-item nav-link nav-link-text mx-1" id="quick_test" href="/quick_test">Quick Test</a>
                        <a class="nav-item nav-link nav-link-text mx-1" id="custom_test" href="/custom_test">Custom Test</a>
                        <a class="nav-item nav-link nav-link-text mx-1" id="history" href="/history">History</a>
                        <a class="nav-item nav-link nav-link-text mx-1" id="settings" href="/settings">Settings</a>
                        <a class="nav-item nav-link nav-link-text mx-1" id="logout" href="/logout">Logout</a>
                    {% else %}
                        <a class="nav-item nav-link nav-link-text mx-1" id="login" href="/login">Login</a>
                        <a class="nav-item nav-link nav-link-text mx-1" id="signUp" href="/sign-up">Sign up</a>
                    {% endif %}
                </div>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        Language
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" onClick="onClickLanguage('en')">EN</a></li>
                        <li><a class="dropdown-item" onClick="onClickLanguage('it')">IT</a></li>
                    </ul>
                </div>
            </div>
          </div>
        </nav>

        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'error' %}
        <div class="alert alert-danger alert-dismissible fade show mx-3" role="alert">
            {{ message }}
            <button type="button" class="btn-close shadow-none" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
        {% else %}
        <div class="alert alert-success alert-dismissible fade show mx-3" role="alert">
            {{ message }}
            <button type="button" class="btn-close shadow-none" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}

        {% block content %} {% endblock %}

        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                </a>
                <h5>Quicquiz</h5>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex me-5">
                <li class="ms-3"><a class="bi bi-instagram text-body-secondary" href="https://www.instagram.com/ale_cappellari/"></a></li>
                <li class="ms-3"><a class="bi bi-facebook text-body-secondary" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"></a></li>
                <li class="ms-3"><a class="bi bi-tiktok text-body-secondary" href="https://youtu.be/pZ2G6BoWy04?si=-L1uQEysjj8gVpTp"></a></li>
            </ul>
        </footer>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    </body>
</html>