<!DOCTYPE html>
<html>
    <script defer
        type="text/javascript"
        src="{{ url_for('static', filename='js/custom_test.js') }}"
    ></script>
<head>
    <title>Custom Test</title>
</head>
<body>
    {% extends "base.html" %}
    {% block title %}Custom Test{% endblock %}
    {% block content %}

    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3 col-sm-12">

                <div align="center" id="crateTestDiv">
                    <br />
                    <!-- Create test button -->
                    <button type="button" class="btn btn-secondary" id="createTestButton">
                        Create Test
                    </button>
                </div>

                <div class="d-flex flex-column p-3 bg-light" style="height: 100%;">
                    <ul class="nav nav-pills flex-column mb-auto">

                        <li class="nav-item">
                            <!-- Number of open questions -->
                            <h5>Open questions</h5>
                            <div class="container">
                                <input type="number" id="numOpenQuestions" name="numOpenQuestions" min="0" max="10" value="1">
                            </div>
                        </li>

                        <li class="nav-item">
                            <!-- Number of true or false questions -->
                            <br />
                            <h5>True or false</h5>
                            <div class="container">
                                <input type="number" id="numTrueFalseQuestions" name="numTrueFalseQuestions" min="0" max="10" value="1">
                            </div>
                        </li>

                        <li class="nav-item">
                            <!-- Number of closed questions -->
                            <br />
                            <h5>Closed questions</h5>
                            <div class="container">
                                <input type="number" id="numClosedQuestions" name="numClosedQuestions" min="0" max="10" value="1">
                            </div>
                        </li>

                        <li class="nav-item">
                            <br />
                            <h5>Select Notes</h5>
                            {% for folder in user.folders %}
                            <div class="form-check">
                                <input class="form-check-input folder-checkbox" type="checkbox" value="{{ folder.id }}" id="folderCheck{{ folder.id }}" checked>
                                <label class="form-check-label" for="folderCheck{{ folder.id }}">
                                {{ folder.title }}
                                </label>
                            </div>
                            {% for note in folder.notes %}
                            <div class="form-check ms-3">
                                <input class="form-check-input note-checkbox note-in-folder-{{ folder.id }}" type="checkbox" value="{{ note.id }}" id="noteCheck{{ note.id }}" checked>
                                <label class="form-check-label" for="noteCheck{{ note.id }}">
                                {{ note.title }}
                                </label>
                            </div>
                            {% endfor %}
                            {% endfor %}
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Main content -->
            <div class="col-md-9 col-sm-12">

                <h3 align="center">Custom Test</h3>

                <!-- Output divs -->
                <br />
                <div id="output" style="margin-top: 10px; text-align: left;"></div>

            </div>
        </div>
    </div>

    {% endblock %}
</body>
</html>
