<!DOCTYPE html>
<html>
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='css/home.css') }}"
    >

<head>
    <title>Notes</title>
</head>
<body>

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content%}

<div class="notes-hero-container m-1 mt-2">
    <a href="/notes">
        <img
            src="{{ url_for('static', filename='images/note_writing.jpg') }}"
            class="notes-hero-background rounded-3"
            alt="..."
        />

        <div class="notes-hero-overlay rounded-3">
            <div class="notes-hero-text mb-4">
                <h1 class="mx-4">Manage your notes</h1>
                <p class="mx-4">Introducing the Online Quiz Maker: revolutionize learning with engaging quizzes that boost knowledge retention, critical thinking, and fun!</p>
            </div>
        </div>
    </a>
</div>

<div class="notes-hero-container m-1">
    <a href="/custom_test">
        <img
            src="{{ url_for('static', filename='images/school_test.jpg') }}"
            class="notes-hero-background rounded-3"
            alt="..."
        />

        <div class="notes-hero-overlay rounded-3">
            <div class="notes-hero-text mb-4">
                <h1 class="mx-4">Create a custom TTTest</h1>
                <p class="mx-4">Introducing the Online Quiz Maker: revolutionize learning with engaging quizzes that boost knowledge retention, critical thinking, and fun!</p>
            </div>
        </div>
    </a>
</div>

{% endblock %}

</body>
</html>
