<!DOCTYPE html>
<html>
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='css/notes.css') }}"
    >

    <script defer
        type="text/javascript"
        src="{{ url_for('static', filename='js/notes.js') }}"
    ></script>
<head>
    <title>Notes</title>
</head>
<body>

{% extends "base.html" %}
{% block content %}

<h3 align="center">Notes</h3>
<br />

<div class="drop-area">
  <p>Drag and drop files here</p>
</div>

<br />

<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
        <div class="note-title" onclick="toggleNoteContent(this, {{ note.id }})">
            {{ note.title }}

        </div>
        <div class="note-content" style="display: none;">
        </div>
        <button type="button" class="btn-close" aria-label="Close" onclick="deleteNote({{ note.id }})">
        </button>
    </li>
    {% endfor %}
</ul>

{% endblock %}

</body>
</html>