<!DOCTYPE html>
<html>
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='css/notes.css') }}"
    >

    <script defer
        type="text/javascript"
        src="{{ url_for('static', filename='js/notes.js') }}"
    ></script>
<head>
    <title>Notes</title>
</head>
<body>

{% extends "base.html" %}
{% block content %}

<h3 align="center">Notes</h3>
<br />

<div class="mb-3">
    <input type="file" id="formFileMultiple" multiple style="display: none;" onchange="handleFiles(this.files)">
    <button
            type="button"
            class="btn btn-secondary"
            onclick="document.getElementById('formFileMultiple').click()"
    >
        Choose Files
    </button>
    <br />
</div>

<br />

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4" id="notes">
    {% for note in user.notes|reverse %}
    <div class="col">
        <div class="card h-100 bg-primary-subtle rounded-5 p-3">
            <!--
            with  onclick="toggleNoteContent(this, {{ note.id }})"
            <div class="note-title bg-light my-1" onclick="toggleNoteContent(this, {{ note.id }})">
                {{ note.title }}
            </div>
            -->
            <div class="note-title p-2 bg-light mb-2">
                {{ note.title }}
            </div>

            <div class="note-content" style="display: none;">
            </div>
            <div class="icon-container d-flex justify-content-center align-items-center">
                <!-- quick test -->
                <div class="dropdown">
                    <div
                            class="note-element bg-light d-flex justify-content-end ms-2"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                        <i class="bi bi-card-list" aria-label="Close"></i>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="quick_test" onclick="quickTest()">Create quick test</a></li>
                    </ul>
                </div>

                <!-- more options -->
                <div class="dropdown">
                    <div
                            class="note-element bg-light d-flex justify-content-end ms-2"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                        <i class="bi bi-three-dots-vertical" aria-label="Close"></i>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Rename note</a></li>
                        <li><a class="dropdown-item" onclick="deleteNote({{ note.id }})" href="#">Delete note</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

</body>
</html>