<!DOCTYPE html>
<html>
    <script defer
        type="text/javascript"
        src="{{ url_for('static', filename='js/personalized_test.js') }}"
    ></script>
<head>
    <title>Personalized Test</title>
    <style>
        .progress-bar {
            height: 20px;
            background-color: #007bff;
        }
        .slider-container {
            display: inline-block;
            margin-right: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    {% extends "base.html" %}
    {% block title %}Personalized Test{% endblock %}
    {% block content %}

    <br />
    <h3 align="center">Personalized Test</h3>

    <br />
    <div align="center">

        <!-- Number of open questions slider -->
        <div class="slider-container">
            <p>Number of open questions:</p>
            <input type="range" min="0" max="10" value="1" class="slider" id="numOpenQuestionsSlider">
            <p><span id="numOpenQuestions"></span></p>
        </div>

        <!-- Number of true or false questions slider -->
        <div class="slider-container">
            <p>Number of true or false questions:</p>
            <input type="range" min="0" max="10" value="1" class="slider" id="numTrueFalseQuestionsSlider">
            <p><span id="numTrueFalseQuestions"></span></p>
        </div>

        <!-- Number of closed questions slider -->
        <div class="slider-container">
            <p>Number of closed questions:</p>
            <input type="range" min="0" max="10" value="1" class="slider" id="numClosedQuestionsSlider">
            <p><span id="numClosedQuestions"></span></p>
        </div>

        <br />
        <!-- Create test button -->
        <button type="button" class="btn btn-primary" id="createTestButton">
            Create Test
        </button>
    </div>

    <!-- Output divs -->
    <br />
    <div id="output" style="margin-top: 10px; text-align: left;"></div>

    {% endblock %}
</body>
</html>
