<!DOCTYPE html>
<html>
    <script defer
        type="text/javascript"
        src="{{ url_for('static', filename='js/quick_test.js') }}"
    ></script>
<head>
    <title>Quick Test</title>
</head>
<body>
    {% extends "base.html" %}
    {% block title %}Quick Test{% endblock %}
    {% block content %}

    <br />
    <h3 align="center">Quick Test</h3>

    <div align="center" id="crateTestDiv">
        <br />
        <!-- Create test button -->
        <button type="button" class="btn btn-secondary" id="createTestButton">
            Create Test
        </button>
    </div>

    <p class="d-inline-flex gap-1">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Select notes
        </button>
    </p>

    <div class="collapse" id="collapseExample">
        {% for note in user.notes|reverse %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheck{{ loop.index }}" checked>
                <label class="form-check-label" for="flexCheck{{ loop.index }}">
                    {{ note.title }}
                </label>
            </div>
        {% endfor %}
    </div>

    <!-- Output divs -->
    <br />
    <div id="output" style="margin-top: 10px; text-align: left;"></div>

    {% endblock %}
</body>
</html>
