<!DOCTYPE html>
<html>
    <script defer
        type="text/javascript"
        src="{{ url_for('static', filename='js/quick_test.js') }}"
    ></script>
<head>
    <title>Quick Test</title>
</head>
<body>
    {% extends "base.html" %}
    {% block title %}Quick Test{% endblock %}
    {% block content %}

    <br />
    <h3 align="center">Quick Test</h3>

    <div align="center">
        <br />
        <!-- Create test button -->
        <button type="button" class="btn btn-secondary" id="createTestButton">
            Create Test
        </button>
    </div>

    <!-- Output divs -->
    <br />
    <div id="output" style="margin-top: 10px; text-align: left;"></div>

    {% endblock %}
</body>
</html>
