.notes-hero-container {
    position: relative;
}
.notes-hero-background {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
.notes-hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.2); /* Adjust opacity to control dimming */
    display: flex;
    justify-content: center;
    align-items: center;
}
.notes-hero-text {
    text-align: center;
    color: white;
}
.notes-hero-text h1 {
    font-size: 3rem; /* Adjust font size as needed */
    margin-bottom: 1rem;
}
.notes-hero-text p {
    font-size: 1.5rem; /* Adjust font size as needed */
}